# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
build/
dist/
.eggs/
.pypirc

# Reflex / demo
.web/
.web_next/
pcache_demo/.web/
pcache_demo/.web_next/
pcache_demo/assets/__pycache__/

# Virtual envs
.venv/
venv/
env/

# Editors / OS
.vscode/
.idea/
.DS_Store
